/* GLOBAL */
:root {
    --dark-green: #2d4a22;
    --green: #49AA26;
    --light-green: #3dd705;
    --dark-purple: #363f5f;
    --red: #E83F5B;
    --white-background: #f0f2f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; /* 100% == 16px */
}

body {
    background: var(--white-background);
    font-family: 'Poppins', sans-serif;
    color: var(--dark-purple);
}

.container {
    width: min(90vw, 1200px);
    margin: auto;
}

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    font-weight: 400;
}

.sr-only { /* screen reader only */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* HEADER */
header {
    background: var(--dark-green);
    padding: 2rem 0 8rem;
    text-align: center;
}

#logo {
    color: #fff;
    font-weight: 100;
}

/* LINKS AND BUTTONS */
a {
    text-decoration: none;
    color: var(--green);
}

a:hover {
    color: var(--light-green);
}

.link.new {
    display: inline-block; /* to add margin bottom */
    margin-bottom: 0.5rem;
}

.button {
    width: 100%;
    height: 3rem;
    font-size: 16px;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    opacity: 0.7;
}

.button.cancel {
    border: 1px red solid;
    color: red;
    opacity: 0.5;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button.save {
    border: none;
    background: var(--green);
    color: #fff;
}

.button:hover {
    opacity: 1;
}

/* BALANCE */
#balance {
    margin-top: -4.5rem;
}

#balance h2 {
    color: #fff;
    margin-top: 0;
}

/* CARDS */
.card {
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}

.card h3 {
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    align-items: center; /* align in Y axis*/
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
}

.card.total {
    background: var(--green);
    color: #fff;
}

/* TABLE */
.responsive-table {
    display: block;
    overflow-x: auto; /* when necessary creates scrolling on the x axis */
}

#transactions-table {
    width: 100%; /* 100% of container*/
    border-spacing: 0 0.5rem;
}

#transactions-table tr {
    opacity: 0.5;
}

#transactions-table thead tr {
    opacity: 1;
}

#transactions-table tr:hover {
    opacity: 1;
}

#transactions-table th {
    background: #fff;
    color: #969cb3;
    font-weight: 400;
    text-align: left;
    padding: 1rem 2rem;
}

td.expense {
    color: var(--red);
}

td.income {
    color: var(--green);
}

#transactions-table td {
    background: #fff;
    padding: 1rem 2rem;
}

#transactions-table thead th:first-child {
    border-radius: 0.5rem 0 0 0;
}

#transactions-table thead th:last-child {
    border-radius: 0 0.5rem 0 0;
}

#transactions-table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 0.5rem;
}

#transactions-table tbody tr:last-child td:last-child {
    border-radius: 0 0 0.5rem 0;
}

/* MODAL */
.modal-overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden; /* to not take space on screen */
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: var(--white-background);
    padding: 2.4rem;
    position: relative;
    border-radius: 0.25rem;

    width: 90%;
    max-width: 500px;
}

.modal h2 {
    margin-top: 0;    
}

.modal input {
    border: none;
    border-radius: 0.25rem;
    padding: 0.8rem;
    width: 100%;
}

.modal .input-group {
    margin-top: 0.8rem;
}

.modal .input-group small {
    opacity: 0.4;
}

.modal .input-group.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal .input-group.actions a,
.modal .input-group.actions button {
    width: 48%;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    opacity: 0.6;
}

/* RESPONSIVE */
@media (min-width: 800px) {
    html {
        font-size: 87.5%; /* 14px */
    }

    #balance {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}